# IOC查询-IP查询（VT）v0.1 | Web App ID: UtcFSVMfTJlPEm5R
DIFY_WORKFLOW_IP_VT_API_KEY=

# IOC查询-微步信誉IP查询v0.2 | Web App ID: ZcUIJQn8rGRGJBSE
DIFY_WORKFLOW_IP_WEIBU_API_KEY=

# IOC查询-域名查询v0.2 | Web App ID: hWS1AwgXqGq02lSw
DIFY_WORKFLOW_DOMAIN_API_KEY=

# IOC查询-URL查询v0.2 | Web App ID: e1yiUx8IwEcZqsOE
DIFY_WORKFLOW_URL_API_KEY=

# CVE-漏洞查询v0.2 | Web App ID: D3EbFFsLerj6wnLn
DIFY_WORKFLOW_CVE_API_KEY=

# IOC查询-Hash | Web App ID: EIQe1S7nBd1rHluO
DIFY_WORKFLOW_HASH_API_KEY=

# 单IOC指标综合查询-工具版（已修改）| Web App ID: v8DgjXtlQOHHbrLS
DIFY_WORKFLOW_IOC_AGGREGATE_API_KEY=

# LocalAttackMCP | Web App ID: AdlFAOpmWKDa1D4F
DIFY_WORKFLOW_LOCAL_ATTACK_API_KEY=
